- @books.group("publisher").sort_by {|item| item.n_sub_records }.reverse.each do |publisher|
  = link_to("#{publisher._key} (#{publisher.n_sub_records})", url(["/search", drilled_params(publisher: publisher._key)].join("?")))
  %br
